.invoice_wrapper {
  width:100%;
}

.invoice_header {
  display:flex;
  width: 100%;
  justify-content:  space-between;
}

.invoice_inner_wrapper {
  display:flex;
  flex-direction:column;
  place-items:center;
  row-gap:10px;
  width: 100%;
}


.buttonPrimary {
  background-color:var(--accent);
  color:var(--secondary-bg);
  border-radius:24px; 
  word-break:keep-all;
  min-width:140px;
  height:50px;
  border: none;
}

.buttonPrimary div {
  display:flex;
  padding-inline:10px;
  place-items:center;
}

.buttonPrimary img {
  width:23%;
  background-color:var(--secondary-bg);
  padding: 8px;
  border-radius: 100%;
  align-self:start;
}
.buttonPrimary p {
  flex:1;
}
