:root {
  --primary-bg: #F8F8FB;
  --secondary-bg: #FFFFFF;
  --accent: #7C5DFA;
  --accent-alt: #9277FF;
  --success: #33D69F;
  --pending: #FF8F00;
  --neutral: #373B53;
  --primary-text: #0C0E16;
  --secondary-text: #858BB2;
  --tertiray-text: #7E88C3;
  --neutral-bg: #F9FAFE;
  --neutral-bg-alt: #DFE3FA;
  --alert-bg:#EC5757;
  --alert-bg-alt: #FF9797;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height:100vh;
  height: 100%;
}

body {
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Typography */
h1 {
  font-size: 32px;
  line-height:36px;
  letter-spacing: -1;
  font-weight:700;
}

h2 {
  font-size:20px;
  line-height:22px;
  letter-spacing: -0.63;
  font-weight:700;
}

h3 {
  font-size: 16px;
  line-height:24px;
  letter-spacing: -0.8;
  font-weight:700;
}

h4 {
  font-size: 12px;
  line-height:15px;
  letter-spacing: -0.25;
  font-weight:700;
}

.primary-text-size {
  font-size: 12px;
  line-height:15px;
  letter-spacing: -0.25;
  font-weight:500;
}

.secondary-text-size{
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.23;
  font-weight:500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

