*,
*::after,
*::before {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* ROOT */

:root {

  --ff-primary : 'Mulish', sans-serif;
  --ff-secondary : 'Stint Ultra Expanded', cursive;

  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;

}

/* GENERAL */

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  height: 100vh;
  width: 100vw;
}

/* TEMP OVERLAY */
.overlay {
  position:absolute;
  background: rgba(218, 223, 225, 0.9); 
  height:100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img{ 
  display:block;
  max-width:100%;
}

ul li {
  list-style:none;
}

a {
  text-decoration: none;
}

.flex_ {display:flex;}

.grid_ {display:grid;}

