.video-player {
  height: 0;
  overflow: hidden;
  padding-bottom: 66%;
  position: relative;
  grid-area: videoiframe;
  border-radius: $space-4;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
