@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #F8F8FB;
    --secondary-background: #FFFFFF;
    --neutral-bg: #F9FAFE;
    --neutral-bg-alt: #DFE3FA;
    --alert-bg:#EC5757;
    --alert-bg-alt: #FF9797;
    --accent: #7C5DFA;
    --accent-alt: #9277FF;
    --success: #33D69F;
    --pending: #FF8F00;
    --neutral: #373B53;
    --primary-text: #0C0E16;
    --secondary-text: #858BB2;
    --tertiary-text: #7E88C3;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
