$bright-blue: hsl(220, 98%, 61%);
$checked-bg: to bottom right, hsl(192,100%, 67%) , hsl(280, 87%, 65%);
$light-theme: (

);

$dark-theme: (

);

$light-gray: hsl(0, 0%, 98%);
$light-gray-blue-100: hsl(236, 33%, 92%);
$light-gray-blue-200: hsl(233, 11%, 84%);
$light-dark-gray-blue-100: hsl(236, 9%, 61%);
$light-dark-gray-blue-200:  hsl(235, 19%, 35%);

$dark-main-bg: hsl(235, 21%, 11%);
$dark-desaturated-blue: hsl(235, 24%, 19%);
$dark-gray-blue-100: hsl(234, 39%, 85%);
$dark-gray-blue-200-hover: hsl(236, 33%, 92%);
$dark-gray-blue-300: hsl(234, 11%, 52%);
$dark-gray-blue-400: hsl(233, 14%, 35%);
$dark-gray-blue-500: hsl(237, 14%, 26%);

$font-size-primary: 18px;
$font-primary: 'Josefin-Sans';
$font-weight-primary:normal;
$font-weight-title: bold;

$bg-desktop-dark: url('./images/bg-desktop-dark.jpg');
$bg-mobile-dark: url('./images/bg-mobile-dark.jpg');

$bg-desktop-light: url('./images/bg-desktop-light.jpg');
$bg-mobile-light: url('./images/bg-mobile-light.jpg');

@font-face {
  font-family: "Josefin-Sans";
  src: url('./font/static/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin-Sans";
  src: url('./font/static/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

