@import "./base";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: $font-primary, sans-serif;
  font-weight: $font-weight-primary;
  font-size: $font-size-primary;
  display:flex;
  place-items: center;
  margin: 0;
}

#root {
  width: 100vw;
  min-height: 100vh;
  color: $root-text-color;
  background: top/contain $bg-desktop no-repeat $main-bg;
  transition: color 900ms linear, border 900ms linear,
    background-color 1000ms ease-in;

  @media screen and (max-width: 600px) {
    background: top/contain $bg-mobile no-repeat $main-bg;
  }
}

.App {
  margin: 0 auto;
  display: grid;
  grid: auto / auto;
  gap: 30px;
  max-width: 650px;
  width: 100%;
  height: 100%;
  padding-block: 70px;
  place-items: center;
}

header {
  h1 {
    letter-spacing: 10px;
    font-size: 2.5rem;
    color: $light-gray;
  }
}
