@import "./../variables";
@import "./../mixins";

.wrapper {
  display:flex;
  place-content:center;
  max-width: 940px;
  height: 600px;
  background-color: $color-white;
  padding: $space-4;
  border-radius: $space-4;
  width: 95%;
  justify-content: start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: no-repeat 100%/cover url('/images/bg-sidebar-desktop.svg');
  gap: $space-10;
  max-height: 570px;
  border-radius: $space-4;
  padding-block-start: $space-8;
  font-size: $text-sm;
  height: 100%;

  .formStep {
    display:flex;
    place-items: center;
    padding-inline: $space-10 $space-20;
    gap: $space-4;

    > p {
      border: 1px solid $color-white {
        radius: 50%;
      };
      width: $space-8;
      height: $space-8;
      text-align:center;
      line-height: $space-8;
      color: $color-white;
      background-color: transparent;
      font-weight: $text-bold;

      &.active {
        border: 1px solid $highlight-blue;
        background: $highlight-blue;
        color: $title-text;
      }
    }

    div {
      display:flex;
      flex-direction:column;
      text-transform: uppercase;
      gap: $space-1;
      width: max-content;

      p:nth-child(1){
        color:$pastel-blue;
        font-size: $text-xs;
      }

      p:nth-child(2) {
        color: $color-white;
        font-weight: $text-bold;
        letter-spacing: 1.25px;
      }
    }
  }
}

main {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-start: $space-5;
  gap: $space-2;
  max-width:450px;
  width: 100%;
  margin: 0 auto;
}

.buttonGroup {
  display:grid;
  grid-template-areas: "button1 button2";
  place: {
    items: center;
    content: space-between;
  }

  .primaryButton {
    color:  $color-white;
    background-color:  $title-text;
    border-radius: $space-2;
    padding: $space-4;
    transition: 350ms linear background-color;
    align-self:end;
    grid-area: button2;

    &:hover {
      background-color: $highlight-purple;
    }
  }

  .altButton{
    color:  $cool-gray;
    background-color: transparent;
    padding: none;
    transition: 300ms linear color;
    grid-area: button1;
    align-self :center;

    &:hover {
      color: $title-text;
    }
  }
}

@media (max-width: $layout-breakpoint-med) {
  .wrapper {
    flex-direction:column;
    padding: unset;
    border-radius: unset;
    width: 100%;
    background-color: transparent;
  }
  
  .sidebar {
    flex-direction: row;
    place-content: center;
    background: no-repeat 100%/cover url('/images/bg-sidebar-mobile.svg');
    border-radius: unset;

    .formStep {
      padding-inline: unset;
      transform:translateY(-25px);

      div {
        display:none;
      }
    }
  }

  main {
    background-color: $color-white;
    padding: $space-8;
    transform: translateY(-40px);
    border-radius: $space-4;
    width: 90%;
  }
}
