@import '../variables';
@import '../mixins';

.subscriptionForm {
  display:flex;
  flex-direction: column;
  gap: $space-5;

  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"] {
      @include checkbox-reset;
    }

    input[type="radio"] {
      @include checkbox-reset;
    }
  }

  .planOptions {
    display: flex;
    gap: $space-3;
    place-content: space-between;

    .iconImage {
      width: 30%;
    }

    .planCard {
      display:flex;
      flex-direction: column;
      background-color: $color-white;
      border: 1px solid $cool-gray {
        radius: $space-4;
      };
      padding: $space-3;
      height: 160px;
      width: 140px;
      justify-content: space-between;

      &--isActive {
        @extend .planCard;
        border: 1px solid $highlight-purple;
        //FIX: replace with hsl color variable
        background-color: #F8F9FF;
        transition: all 300ms linear;
      }

      label {
        color: $title-text;
        font-weight: $text-medium;
      }

      .planCardText {
        display:flex;
        flex-direction: column;
        gap: $space-1;

        p {
          color: $cool-gray;
          font-size: $text-sm;
        }
        
        .promoText {
          color: $title-text;
        }
      }

    }
  }

  .periodOptions {
    display:flex;
    gap: $space-2;
    place: {
      items: center;
      content:center;
    }
    //FIX: replace with hsl color variable
    background-color: #F8F9FF;
    height:50px;
    border-radius: $space-1;
    
    label {
      font-weight: $text-medium;
      color: $cool-gray;
    }

    .periodToggle {
      display: inline-block;
      width: 38px;
      height: 20px;
      position:relative;
    }

    .toggle {
      position: absolute;
      top:0;
      right: 0;
      bottom:0;
      left:0;
      background: $title-text;
      border-radius: 30px;

      &::before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        right: 22px;
        bottom: 4px;
        background: $color-white;
        border-radius: 50%;
        transition: transform 200ms linear;
      }
    }

    // NOTE: too convoluted? 
    input[type="checkbox"] {
      &:checked {
        & + .periodToggle {
          & .toggle:before {
            transform: translateX(18px);
          }
        }
      }
    }
  }

}
