@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CUSTOM PROPERTIES */

:root {
  --ff-sans:'Kumbh Sans', sans-serif;
  
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;

  --fs-body : 18px;
  --fs-att: 11px;

  --clr-primary-cyan: hsl(185, 75%, 39%);
  --clr-primary-dark-blue: hsl(229, 23%, 23%);
  --clr-primary-gray-blue: hsl(227, 10%, 46%);
  --clr-neutral-gray: hsl(0, 0%, 59%);
  --clr-link : hsl(228, 45%, 44%);
}

/* GENERAL STYLES */

body {
  color: var(--clr-primary-dark-blue);
  font-family: var(--ff-sans);
  font-size:var(--fs-body);
  background-color: var(--clr-primary-cyan);
  /* background-image:url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat:no-repeat; */
}

img {
  display:block;
  max-width: 100%;
}

section {
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  height: 100vh;
  background: var(--clr-primary-cyan);
}

/* PROFILE CARD */

.profile-card {
  width: 95%;
  max-width: 350px;
  background: #fff;
  border-radius: 1em;
  text-align:center;
  overflow:hidden;
  position:relative;
}

.profile-card_header {
  background-image : url(./images/bg-pattern-card.svg);
  background-size:cover;
  height:150px;
}

.profile-card_body {
  padding: 0 20px 30px;
}

.profile-card_body-img {
  width: 100px;
  height:100px;
  overflow:hidden;
  margin: -50px auto 20px auto;
}

.profile-card_body-img img{
  border-radius: 50%;
  border: 0.3em solid #fff;
  height:auto;
}

.profile-card_name {
  font-size:  var(--fs-body);
  margin-bottom: 0.4em;
}

.profile-card_age,
.profile-card_city,
.profile-card_footer-text {
  font-weight:var(--fw-reg);
  color : var(--clr-neutral-gray);
  opacity: 0.9;
}

.profile-card_city {
  font-size:0.9rem;
}

.profile-card_age {
  font-weight: var(--fw-reg);
}

.profile-card_footer{
  border-top: 1px solid hsl(0, 3%, 90%);
  padding: 0 1em;
  display:flex;
}

.profile-card_footer-item {
  flex:1;
  height: 100px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.profile-card_footer-social {
  font-size : 1rem;
  margin-bottom: 0.5em;
}

.profile-card_footer-text {font-size:0.8rem;}

/* BACKGROUND CIRCLES */

.bg-circles img {
  animation: 3s bg-circles forwards;
}

.bg-c1 {
  position:fixed;
  top:-400px;
  left:-50px;
  transform: translate(-10px, -10px);
}

.bg-c2 {
  position:fixed;
  bottom: -400px;
  right:-50px;
  transform:translate(10px, 10px);
}

@keyframes bg-circles {
  0% {opacity: 0;}
  100% {
    opacity: 1;
    transform:translate(0);
  }
}

/* FOOTER */
.footer {
  position:absolute;
  bottom: 0;
  text-align: center;
  color: var(--clr-primary-dark-blue);
  font-size: var(--fs-att);
  padding:1em;
}

.footer a {
  color :var(--clr-link);
}


