*,
*::after,
*::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* ROOT */

:root {
  --ff-body :'Manrope', sans-serif;
  
  --fs-body : 15px;
  --fs-att : 11px;

  --fw-reg:600;
  --fw-bold: 800;

  --clr-primary-slider-bar: hsl(174, 77%, 80%);
  --clr-primary-slider-bg: hsl(174, 86%, 45%);
  --clr-primary-discount-bg: hsl(14, 92%, 95%);
  --clr-primary-discount-text: hsl(15, 100%, 70%);
  --clr-primary-cta-text: hsl(226, 100%, 87%);

  --clr-neutral-white : hsl(0, 0%, 100%);
  --clr-neutral-body-bg: hsl(230, 100%, 99%);
  --clr-neutral-slider-empty-bg: hsl(224, 65%, 95%);
  --clr-neutral-toggle-bg: hsl(223, 50%, 87%);
  --clr-neutral-text: hsl(225, 20%, 60%);
  --clr-neutral-cta-bg: hsl(227, 35%, 25%);
  --clr-att-a :hsl(228, 45%, 44%);

}

/* PRIMARY */
body  {
  font-family: var(--ff-body);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  color: var(--clr-neutral-text);
  display:grid;
  place-items:center;
  background:url(/interactive-pricing-component/images/bg-pattern.svg) no-repeat top, var(--clr-neutral-body-bg);
  background-size:100% 50%;
  height: 100vh;
  text-align:center;
  width: 100vw;
}

ul li {list-style: none;}
a {text-decoration: none;}

h1, h2, h3, h4 {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-cta-bg);
}

.wrapper {
  width: 90%;
  max-width: 900px;
}

/* TITLE */

.title {
  background: url(/interactive-pricing-component/images/pattern-circles.svg) no-repeat center;
  background-size: contain;
  padding: 2em 0;
  justify-self: center;
}

.title_content {
  display:flex;
  flex-direction: column;
  gap:1em;
  place-items:center;
}

.title_content p span {display:block;}

/* CARD COMPONENT */
.card {
  background: var(--clr-neutral-white);
  border-radius: 10px;
  padding: 3em 0;
  display:grid;
  align-items: center;
  grid-template-areas: 
  "pageviews"
  "slider"
  "amount"
  "toggle"
  "hr"
  "features"
  ;
  grid-template-rows:auto;
  grid-template-columns: 1fr;
  gap: 2em;
  max-width: 650px;
  box-shadow: 0px 10px 20px hsla(210, 8%, 62%, 0.2) ;
}

.card .views {
  grid-area: pageviews;
  text-transform: uppercase;
  color: var(--clr-neutral-text);
  font-size: 1rem;
  letter-spacing: 2px;
}

.card .views p {display:inline;}

.card .cost {
  grid-area: amount;
  font-size: 2rem;
  gap: 10px;
  display:flex;
  place-items:center;
  place-content:center;
}

.card .cost p {
  font-size: 1rem;
  color: var(--clr-neutral-text);
  font-weight: var(--fw-reg);
  display:inline;
}

.card .card_slider {
  grid-area: slider;
  width: 90%;
  justify-self: center;
}

/* INPUT SLIDER */
.slider_move {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: linear-gradient( 90deg, var(--clr-primary-slider-bar) 50%, var(--clr-neutral-slider-empty-bg) 50%);
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* INPUT SLIDER THUMB */
  /* WEBKIT */
.slider_move::-webkit-slider-thumb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  background: url(/interactive-pricing-component/images/icon-slider.svg) no-repeat, var(--clr-primary-slider-bg);
  background-position: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0 10px 20px var(--clr-primary-slider-bar);
  cursor: pointer;
}

.slider_move:hover::-webkit-slider-thumb {
  background: url(/interactive-pricing-component/images/icon-slider.svg) no-repeat, var(--clr-primary-slider-bar);
  background-position: center;
  cursor:grab;
}

.slider_move:active::-webkit-slider-thumb {
  background: url(/interactive-pricing-component/images/icon-slider.svg) no-repeat, var(--clr-primary-slider-bg);
  background-position: center;
  cursor:grabbing;
}

  /* FIREFOX */
.slider_move::-moz-range-thumb {
  height: 50px;
  width: 50px;
  background: url(/interactive-pricing-component/images/icon-slider.svg) no-repeat, var(--clr-primary-slider-bg);
  background-position: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0 10px 20px var(--clr-primary-slider-bar);
  cursor: pointer;
}

.slider_move:hover::-moz-range-thumb {
  background: url(/interactive-pricing-component/images/icon-slider.svg) no-repeat, var(--clr-primary-slider-bar);
  background-position: center;
  cursor:grab;
}

.slider_move:active::-moz-range-thumb {
  background: url(/interactive-pricing-component/images/icon-slider.svg) no-repeat, var(--clr-primary-slider-bg);
  background-position: center;
  cursor:grabbing;
}

  /*  TOGGLE  */
.card .selection_toggle {
  grid-area:toggle;
  display:flex;
  place-content:center;
  place-items:center;
  gap:1em;
}

  /* INPUT TOGGLE */
.toggle {
  display:inline-block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position:relative;
  width: 50px;
  height: 25px;
  background: var(--clr-neutral-toggle-bg);
  cursor: pointer;
  border-radius: 30px;
}

.toggle:hover{
  background: var(--clr-primary-slider-bar);
  transition: 350ms;
}

.toggle::before{
  position:absolute;
  content : "";
  height: 18px;
  width: 18px;
  right:27px;
  bottom: 4px;
  background: var(--clr-neutral-white);
  border-radius: 50%;
  transition: transform 400ms ease;
}

.toggle:checked::before {
  transform: translateX(22px);
  transition: transform 400ms ease;
}

.selection_toggle p {font-size: 0.9rem;}

.selection_toggle p .discount {
  background: var(--clr-primary-discount-bg);
  color: var(--clr-primary-discount-text);
  font-size: 0.7rem;
  font-weight: var(--fw-bold);
  border-radius: 20px;
  padding: 3px 8px;
  margin-left: 5px;
}

.selection_toggle .wide_display {display:none;}

.card hr {
  grid-area: hr;
  border: 0.1em solid var(--clr-neutral-toggle-bg);
  opacity: 0.2;
}

.card .features_cta {
  grid-area: features;
  display:flex;
  flex-direction:column;
}

.card .features_cta ul {
  display:flex;
  flex-direction: column;
  place-content:center;
  place-items: center;
  gap: 1em;
}

.card .features_cta ul  li {
  display:flex;
  flex-direction:row;
  place-items:center;
  gap: 1.5em;  
  font-size: 0.9rem;
}

.card .features_cta ul  li img {width: 0.8em;}

.card .btn {
  display:block;
  background: var(--clr-neutral-cta-bg);
  color: var(--clr-primary-cta-text);
  border-radius: 30px;
  width: 15em;
  align-self:center;
  padding: 1em 0;
  margin-top: 2em;
  font-size: 0.8rem;
}

.card .btn:hover,
.card .btn:focus{
  color: var(--clr-neutral-white);
  transition: 350ms;
}

.attribution {
  align-self:end;
  font-size: var(--fs-att);
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
  :root {
    --fs-body : 16px;
  }

  .card {
    grid-template-areas: 
    "pageviews amount"
    "slider slider"
    "toggle toggle"
    "hr hr"
    "features features"
    ;
    grid-template-columns:repeat(2,1fr);
  }

  .card .features_cta {
    flex-direction:row;
    place-items:center;
    margin: 0 2em;
    place-content:space-between;
  }

  .card .features_cta ul {place-items:flex-start;}

  .selection_toggle .wide_display {display:inline;}
}