@import "./variables";

@mixin inherit-style {
  font: inherit;
}

@mixin checkbox-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-width: 30px;
  width: 100%;
  cursor:pointer;
}
