@import "./variables";

@mixin inherit-style {
  font: inherit;
}

@mixin checkbox-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //NOTE: remove these values if ununsed till the end
  // max-width: 30px;
  // width: 100%;
  cursor:pointer;
}
