#root {
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  display: grid;
  gap: $space-8;
  padding: $space-8 0 $space-8 $space-8;
  grid:
    "nav search" 30%
    "nav content" auto
    / 8% 89%;
  margin: 0 auto;

  @media (max-width: $layout-breakpoint-med) {
    grid:
      "nav" 10%
      "search" 20%
      "content" auto
      / auto;
    gap: unset;
    padding: unset;
  }
}

body {
  @include body-medium;
  font: {
    family: $font-primary, sans-serif;
    size: $font-size-primary;
  }
  background-color: $dark-bg;
  color: $color-white;
}
