@font-face {
  font-family: "Outfit";
  src: url("/font/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/font/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

