div {
  ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: $space-6;

    li {
      list-style: none;
    }
  }
}
.castImg {
  max-width: 200px;
  height: 200px;
  border-radius: $space-4;
  object-fit: contain;
  object-position: center;
}
