.mediaCard {
  cursor: pointer;
  position: relative;
  color: unset;
  text-decoration: none;
  position: relative;

  .mediaimg {
    border-radius: 10px;
  }

  .media_link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .bookmarkIcon {
    position: absolute;
    top: 10%;
    right: 6%;
    border: 1px solid transparent;
    border-radius: 50%;
    background: gray;
    padding: $space-4;
    z-index: 20;

    &:hover {
      cursor: pointer;
      opacity: $opacity-75;
      transition: opacity 300ms linear;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    width: 240px;
  }
}

.mediaCard_data_info {
  display: flex;
  flex-direction: row;
  gap: $space-2;

  p {
    @include body-medium;
    opacity: $opacity-75;
  }

  .media_type {
    img {
      display: inline-block;
    }
  }
}

.mediaimg:hover {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(198, 198, 198, 0.5) 0%,
    rgba(199, 199, 199, 0.5) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(198, 198, 198, 0.5) 0%,
    rgba(199, 199, 199, 0.5) 100%
  );
}

.mediaCard_trending {
  @extend .mediaCard;
  position: relative;

  @media (max-width: $layout-breakpoint-small) {
    width: 240px;
  }

  .mediaCard_data {
    position: absolute;
    width: 100%;
    padding: $space-6;
    bottom: 0;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.75), 60%, transparent);

    h2 {
      word-break: normal;
      overflow-wrap: break-word;
    }
  }
}
