
.invoice_inner_wrapper li, .invoice {
  display:grid;
  grid-template-areas:
    "i_id i_date c_name i_amount i_status i_link";
  width: 100%;
  background-color: var(--secondary-bg);
  border-radius:8px;
  place-content:space-between;
  place-items:center;
  padding: 2rem;
}

.invoice > p {
}

.invoiceid {
 color:var(--tertiary-text);
}

.invoice_options {
  display:flex;
}

.invoice p:nth-child(1) {
  grid-area:i_id;
}

.invoice p:nth-child(2) {
  grid-area:i_date;
  color: var(--tertiary-text);
}

.invoice p:nth-child(2) span {
  color: #888EB0;
}

.invoice p:nth-child(3) {
  grid-area:c_name;
  color:var(--secondary-text);
}

.invoice p:nth-child(4) {
  grid-area:i_amount;
}

.invoice p:nth-child(5) {
  grid-area:i_status;
  padding: 10px 40px;
  width: 100px;
  height: 40px;
  text-align:center;
  display:flex;
  gap: 10px;
  place-items:center;
  place-content:center;
  opacity:100%;
}

.invoice p:nth-child(6) {
  grid-area:i_link;
}
