@import "../base";

@mixin inherit-style {
  font: inherit;
}

header {
  display: grid;
  grid-template-areas:
    "logo actions"
    "actionForm actionForm";
  gap: 10px;

  h1 {
    grid-area: logo;
  }

  .userItems {
    grid-area: actions;
    display: flex;
    gap: 8px;
    justify-self: end;

    button {
      background-color: transparent;
      padding: 10px 20px;
      outline: none;
      border: none;
      opacity: 1;
      transition: opacity 250ms linear;

      &:hover {
        opacity: 0.5;
      }
      &:focus {
        opacity: 0.5;
        outline: 1px solid $text-color;
      }
    }
  }

  .loginWrapper,
  .regWrapper {
    grid-area: actionForm;

    form {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;

      @media (max-width: 500px) {
        flex-direction: column;
      }

      button {
        background: $main-bg;
        color: $text-color;

        &:hover {
          background: $login-button-color-bg-hover;
          color: $login-button-color-hover;
        }
      }
    }

    input {
      @include inherit-style;
      background-color: $main-bg;
      padding: 10px 20px;
      outline: none;
      border: none;
      color: $text-color;
      border-radius: 8px;
    }

    .formUsername,
    .formPassword {
      min-width: 30%;
      width: 100%;
      flex: 1;
    }

    .regName {
      flex-basis: 100%;
    }
  }
}
