@use "../base";

%todo-wrapper {
  width: 100%;
  max-width: 650px;
  min-width: 550px;

    @media only screen and (max-width: 600px) {
      min-width:300px;
      max-width: 90%;
    }
}

%inherit-style {
  font: inherit;
}

%li-style-reset {
  list-style: none;
  padding: 0;
}

%checkbox-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-width: 30px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  height: 30px;
  border: 1px solid base.$border-color;
  cursor: pointer;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"] {
    @extend %checkbox-reset;
  }
}

form {
  @extend %todo-wrapper;
  background-color: base.$section-bg;
  border-radius: 5px;
  display: flex;
  place-items: center;
  place-content: center;
  padding: 20px 30px;
  height:max-content;

  input[type="checkbox"] {
    &:disabled {
      opacity: 0.5;
    }
  }

  input[type="text"] {
    @extend %inherit-style;
    width: 100%;
    background-color: transparent;
    color: base.$text-color;
    border: none;
  }

  input[type="text"]:focus {
    outline: none;
  }
}

.todoList {
  @extend %todo-wrapper;

  .tempItem {
    text-align: center;
    padding: 10px;
  }

  .todoItem {
    padding: 0;
    background-color: base.$section-bg;
    border-radius: 5px;

    li {
      @extend %li-style-reset;
      padding: 20px 30px;
      border-bottom: 1px solid base.$divider-line;
      width: 100%;
      display: flex;
      place-items: center;
      place-content: space-between;
      cursor: pointer;

      div {
        display: flex;
        place-items: center;
        width: 95%;

        label {
        cursor: pointer;
        }
      }

      input[type="checkbox"] {
         // &:hover {
         //  border: 1px solid transparent;
         //  border-image: linear-gradient(base.$checked-bg) 10%;
         // }

        &:checked {
          background: url("./images/icon-check.svg") center no-repeat,
            linear-gradient(base.$checked-bg);
        }

        &:checked + label {
          text-decoration: line-through;
          color: base.$checked-text-color;
        }
      }
    }
  }
}

.todoListActions {
  display: grid;
  grid-template-areas: "taskCount taskFilter taskClear";
  place-items: center;
  font-size: 0.9rem;
  padding: 10px 30px;
  background-color: base.$section-bg;
  color: base.$alt-text-color;

  @media screen and (max-width: 600px) {
    grid-template-areas:
      "taskCount - taskClear"
      "taskFilter taskFilter taskFilter";
    row-gap: 10px;
  }

  p {
    grid-area: taskCount;
    min-width: max-content;
    justify-self: start;
  }

  ul {
    grid-area: taskFilter;
    display: flex;
    gap: 1rem;
    padding: 0;

    li {
      @extend %li-style-reset;
    }
  }

  button {
    @extend %inherit-style;
    background-color: transparent;
    grid-area: taskClear;
    color: base.$alt-button-text-color;
    border: none;
    transition: color 350ms linear;
    min-width: max-content;
    padding: 0;
    justify-self: end;

    &:hover {
      color: base.$alt-button-text-color-hover;
    }
  }

  .filterHighlight { 
    color: base.$bright-blue;
  }
}
