body {
  font-family: $font-sans-serif;
}

.skip-to-main-link {
  left:50%;
  position: absolute;
  transform: translateY(-100%);

  &:focus {
    transform:translateY(0%);
  }
}

.fontMono {
  font-family: $font-mono;
}

.fontSerif {
  font-family: $font-serif;
}

.fontSans {
  font-family: $font-sans-serif;
}
