body {
  font-family: $font-sans-serif;
}

.skip-to-main-link {
  left:50%;
  position: absolute;
  transform: translateY(-100%);

  &:focus {
    transform:translateY(0%);
  }
}


.main_wrapper {
  @include styles("lightTheme");
  background-color: var(--bg-color);
  color: var(--body-text);
  min-height: 100vh;

  &.switchTheme{
    @include styles('darkTheme');
  }

  @media (prefers-color-scheme: dark) {
    @include styles("darkTheme");
    &.switchTheme {
      @include styles('lightTheme');
    }
  }

}

.fontMono {
  font-family: $font-mono;
}

.fontSerif {
  font-family: $font-serif;
}

.fontSans {
  font-family: $font-sans-serif;
}

// Header
.app_header { 
  display:flex; 
  place-items:center;
  place-content: space-between;

  div {
    display:flex;
    gap: $space-8;
  }
}

