html {
  font-size: 18px;

  @media (max-width: $layout-breakpoint-small){
    font-size: 16px;
  }

}
body {
  font-family: $font-sans-serif;
}

.skip-to-main-link {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);

  &:focus {
    transform: translateY(0%);
  }
}

#root {
  display: flex;
  place-content: center;
  width: 100%;
}

.main_wrapper {
  @include styles("lightTheme");
  background-color: var(--bg-color);
  color: var(--body-text);
  min-height: 100vh;
  display: flex;
  gap: $space-10;
  flex-direction: column;
  width: 100%;
  padding: $space-8 $space-6;

  &.switchTheme {
    @include styles('darkTheme');
  }

  @media (prefers-color-scheme: dark) {
    @include styles("darkTheme");

    &.switchTheme {
      @include styles('lightTheme');
    }
  }

}

.fontMono {
  font-family: $font-mono;
}

.fontSerif {
  font-family: $font-serif;
}

.fontSans {
  font-family: $font-sans-serif;
}

// Header
.app_header {
  display: flex;
  place-items: center;
  place-content: space-between;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;

  div {
    display: flex;
    gap: $space-4;
    place-items: center;
  }

  input[type="checkbox"] {
    width: 0;
    height: 0;
    appearance: none;
    display: none;

    &:checked {
      &+#toggle_theme_label {
        background-color: $highlight;

        &::after {
          left: 22px;
        }
      }
    }
  }

  // add this to input:checked
  #theme_highlight path {
    stroke: $highlight;
  }

  #toggle_theme_label {
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: $gray;
    position: relative;
    cursor:pointer;

    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: $white;
      top: 3px;
      left: 3px;
      transition: left 250ms linear, background-color 300ms linear;
      ;
    }
  }

  select {
    background-color: transparent;
    border: none;
    color: var(--body-text);
    cursor:pointer;

    option {
      background-color: var(--bg-color) ;
      color:$white;
      border:none;
      font-family: inherit;
      cursor:pointer;
    }

    optgroup {
      background-color: transparent;
      cursor:pointer;
    }

  }

}

// Main Content
#main-content {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;

  form {

    .search_wrapper {
      position: relative;

      input[type="text"] {
        @include body-medium;
        font-weight: bold;
        width: 100%;
        background-color: $gray-1;
        border: none;
        border-radius: $space-2;
        padding: $space-3;
        position: relative;
      }

      label {
        background-image: url("/images/icon-search.svg");
        width: 18px;
        height: 18px;
        position:absolute;
        right: 15px;
        top: 16px;
        z-index: 10;

        span {
          position:absolute;
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow:hidden;
        }
      }
    }


  }




  .inner_wrapper {
    display: flex;
    flex-direction: column;
    gap: $space-16;
    padding-block: $space-10;

    .item_wrapper{
      display:flex;
      flex-direction: column ;
      gap: $space-8;

      header {
        display: grid;
        grid-template-areas:
          "word audio"
          "phonetic audio";
        gap: $space-6;

        h1 {
          @include heading-large;
          grid-area: word;

        }

        p {
          @include heading-medium;
          color: $highlight;
          grid-area: phonetic;

        }

        button {
          grid-area: audio;
          background-color: transparent;
          width: max-content;
          border: none;
          justify-self: end;

          svg * {
            transition: 350ms opacity linear, 350ms fill linear;
          }

          &:hover {
            svg g circle {
              opacity: $opacity-100;
            }

            svg g path {
              fill: $white;
            }
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $space-4;

      .innerTitle_wrapper {
        display: flex;
        place-items: center;

        h2 {
          margin-top: $space-4;
          font-style:italic;
        }

        .hline {
          height: 2px;
          display: inline-flex;
          background-color: $gray-2;
          transform: translate(25px, 8px);
          width: 85%;

          @media (max-width: $layout-breakpoint-small) {
            width: 75%;
          }
        }

      }

      h3 {
        @include heading-small;
        color: $gray;
      }

      .list_style {
        li {
          padding-left: $space-4;
          list-style: inside disc;

          &::marker {
            color: $highlight;
          }
        }
        p {
          padding-left: $space-8;
          color: $gray;
        }
      }

      .inline_content {
        display: flex;
        flex-wrap: wrap;
        row-gap: $space-2;
      }

      .inline_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          @include heading-small;
          color: $highlight;
          font-weight: 700;
        }
      }
    }

    hr {
      color: $gray-2;
      border: 1px solid $gray-2;
    }

    .footer_text {
      @include body-small;
      display:inline-flex;
      color: $gray;
      & * {
        text-decoration: underline;
      }
       
      a {
        color:$black-3;
      }
    }
  }

  .loader {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 5px solid $highlight;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg)
    }
  }

  .notFound_wrapper {
    display:flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: $space-6;

    .emoji {
      font-size: $text-3xl;
    }

    h1 {
      @include heading-medium;
      font-weight: bold;
    }

    div {
      text-align: center;

      *{
        @include body-medium;
        color: $gray;
      }
    }
  }

}
