@mixin heading-large {
  font: {
    weight: $font-bold;
    size: $text-3xl;
  };
  line-height: 29px;
}

@mixin heading-medium {
  font: {
    weight: $font-regular;
    size: $text-xl;
  };
  line-height:29px;
};

@mixin heading-small {
  font: {
    weight: $font-regular;
    size: $text-l;
  };
  line-height: 24px;
}

@mixin body-medium {
  font: {
    weight: $font-regular;
    size: $text-m;
  };
  line-height: 24px;
}

@mixin body-small {
  font:{
    weight: $font-regular;
    size: $text-sm;
  };
  line-height: 17px;
}
